/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  width: 90%;
}

.table{
  margin: 30px;
  
}

.thead{
  width : 800px;
  display: flex;
  text-align: center;
}

.tbody{
  width : 800px;
  display: flex;

}

.title{
  width: 190px;
}

.body{
  width: 400px;
}

.btitle{
  width: 190px;
}

.bbody{
  width: 400px;
}

.actions,h4 {
  margin-top: 10px;
}

.show {
  margin: 30px;
}
.show-title, .show-body {
  margin-bottom:  30px;
}


.link {
  border-right: 1px solid black;
  padding-right: 5px;
}

.link-list{
  margin-top: 10px;
}

.edit {
  margin: 30px;
}
